/* Declaración de codificación de caracteres */
@charset "utf-8";
/* Inicio del Documento CSS */

/* Importación de Google Font "Open Sans" */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);

html, body {
	margin:0 auto;
	padding:0px;
	width:980px;
	font-size:13px;
	color:#3c3c3c;
	font-family: Helvetica, sans-serif;
	/*background:url(../img/Cabecera.jpg) no-repeat fixed center top;*/
	background-size:100% auto;
	line-height:18px;
}

/* Modificación de comportamiento de los enlaces */
a,a:visited{
	text-decoration: none;
}

/* Modificación del comportamiento del encabezado 1 */
h1 {
	font-size: 35px;
}

/* Modificación del comportamiento de encabezados */
h1,h2,h4 {
	
	font-family: 'Open Sans', sans-serif;
}
h2{
	padding-bottom: 40px;

}

/* Modificación del comportamiento de los párrafos */

p {
	text-align: justify;
}

/*Div que contiene la página*/

.div_contenedor{
	position:relative;
	clear:both;
}

.div_contenedor section{
	display:inline-block;
}

#div_seccion_principal{
	height:auto;
	border: 1px solid black;
	margin: 8px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 30px;
}

#div_formulario{
	height:850px;
	border: 1px solid black;
	margin: 8px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 30px;
}
/*Fin del div que contiene la página*/

/*Página principal*/

#div_header{
	clear:both;
	box-sizing:border-box;
	border:solid;
	border-width:10px;
	border-color:transparent;
	background-color:#FFFFFF;
	position:relative;
}

#div_header img{
	width:100%;
	height:100%;
	border: 1px solid black;
}

/*Div del pie de página*/

#div_footer {
	border: 1px solid black; 
	font-size:12px;
	position:relative;
	box-sizing:border-box;
	clear:both;
	color: black;
	text-align:center;
	padding: 30px;
	margin: 8px;
	
}

/* Div del menú de la página */
.div_menu {
	text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
	text-align:left;
	margin-left:5px;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	color:white;
}

/* Estilos comunes de los botones de navegación */
.botonin,.botonin:hover {
	text-shadow: 2px 1px rgba(68, 34, 34, 0.9);
	text-align:center;
	text-decoration: none;
	display:inline-block;
	width: 60px;
	padding: 5px 30px ;
	white-space: nowrap;
	margin: 5px 5px 10px;
	border: 1px solid black;
	border-radius: 2px;
	
	/*text-transform: uppercase;*/
}

/* Estilos independientes de los botones de navegación */


.botonin {
	background: rgb(197,222,234); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(197,222,234,1) 0%, rgba(138,187,215,1) 31%, rgba(6,109,171,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(197,222,234,1) 0%,rgba(138,187,215,1) 31%,rgba(6,109,171,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(197,222,234,1) 0%,rgba(138,187,215,1) 31%,rgba(6,109,171,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c5deea', endColorstr='#066dab',GradientType=0 ); /* IE6*/
}

.botonin:hover{
	background: #7abcff;
	font-size: 14px;
}

/* Estilo de imágenes cuadradas artículos */
#imagen_der {
	float:right;
	margin-left: 20px;
}

#imagen_cen {
	float: inherit;
}

#imagen_izq {
	float:left;
	margin-left: 10px;
	margin-right:20px;
}

/* Estilos de imágenes alargadas artículos */
#imagen_long {
	width: 600px;
	height: 200px;
	margin-left:100px;
}

#galeria {
	margin-left:20px;
}

#galeria img {
	width: 150px;
	height: 150px;
	padding-right: 20px;
}

/*******************************************************/
/*  Inicio de definición de estilos para el formulario */
/*******************************************************/

#div_formulario h1{
	margin-top: 35px;
	margin-bottom: 35px;
}
.formulario{
	max-width: 490px;
	margin: 0 auto;
	margin-top: 70px;
	/*margin-left: 190px;
	padding-left: 30px;
	margin-right: 140px;
	padding-right: 30px;*/
}
.caja_gris{
	list-style-type: none;
	padding: 0;
}
.caja_gris li{
	float: left;
	width: 100%;
	clear: left;
	padding-bottom: 1em;
	/*margin: 0 0 1.5em 0;
	padding: 0;*/
}
.caja_gris label{
	width: 8em;
	text-align: left;
	float: left;
	/*display: inline-block;*/
	text-transform: uppercase;
	margin-right: 1em;
	padding-top: 6px;
}
#line_height{
	padding-top: 0;
	line-height: 1.1;

}

.caja_gris input{
	margin: 0 0 25px 0px;
	overflow: hidden;
	padding: 4px;
	background-color: #F2F2F2;
	border: 1px solid #6E6E6E;
	font-family: 'Open Sans', sans-serif;
}
.input-large{
	width: 330px;
}
.input-medium{
	width: 250px;
}
.input-short{
	width: 150px;
}

.boton_form button{
	text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
	text-align:center;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	display:inline-block;
	color: #FFF;
	background: #7abcff; 
	padding: 6px 30px;
	white-space: nowrap;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	margin: 10px 5px;
	-webkit-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.morado{
	background: #7abcff;
	border: 1px solid #1488FF; 
	
}

.morado:hover{
 	background: #ADD5FF;
}




/****************************************************/
/*  Fin de definición de estilos para el formulario */ 
/****************************************************/